html {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: none;
}

body {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

div {
    display: block;
}

nav {
    width: 100%;
    background-color: #251603;
    margin-top: 0px;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
}

nav a {
    color: #F8ECC2;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

nav a:hover {
    background: #153800;
    text-decoration: none;
    color: #F8ECC2;
}

header nav ul {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #F8ECC2;
}

.menu-trigger {
    display: none;
    color: #F8ECC2;
}


#bg {
    width: 100%;
    height: 100%;

}

#footer {
    position: relative;
    left: 0;
    bottom: 0;

    background: #251603;
    color: #EBEBED;
    width: 100%;
}

.image {
    position: relative;
    display: table-row;


}

#room1 {
    height: 33%;
    width: 33%;
}

#room2 {
    height: 33%;
    width: 33%;
}

#rest1 {
    height: 33%;
    width: 33%;
}

@media screen and (max-width:900px) {
    .menu-trigger {
        display: block;
    }
    nav ul li {
        display: block;
    }
    nav ul {
        display: none;
    }
    #room1 {
        height: 100%;
        width: 100%;
    }

    #room2 {
        height: 100%;
        width: 100%;
    }

    #rest1 {
        height: 100%;
        width: 100%;
    }
}

.main {
    margin-top: 0px;
}

#restor1 {
    height: 100%;
    width: 100%;
}


form {
    padding: 0 5% 0 2%;
    margin: 0 3%;
}

form p {
    margin: 0;
    font-size: 17px;
}

form spam {
    font-size: 14px;
}

#spam-firstname {
    margin-left: 1%;
}

#spam-lastname {
    margin-left: 40%;
}

input[type=text],
input[type=email],
form textarea {
    border: 1px solid #ccc;
    width: 100%;
    margin: 6px 0 4px;
    padding: 10px;
    border-radius: 2px;
    font-size: 12px;
    box-sizing: border-box;
    background-color: #fafafa;
}

#name {
    width: 47.6%;
}

#name {
    margin-right: 1.736%;
}

form textarea {
    height: 83px;
}

input[type=submit] {
    padding: 1em 2.5em;
    border-width: 0;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    letter-spacing: .2em;
    color: #fff;
    background-color: #272727;
}

form p,
input[type=submit] {
    margin-top: 10px;
}

input[type=submit] {
    margin-bottom: 10px;
}


.btn-group-lg>.btn, .btn-lg {
    margin-bottom: 10px;
}

.vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

@keyframes layer2Anim {
    0%{opacity:0;}
    17%{opacity:0;}
    33%{opacity:1;}
    50%{opacity:1;}
    67%{opacity:0;}
    100%{opacity:0;}
}
@keyframes layer3Anim {
    0%{opacity:0;}
    50%{opacity:0;}
    67%{opacity:1;}
    83%{opacity:1;}
    100%{opacity:0;}
}
.slideShow {
    position: relative;
}
.placeHolder {
    width: 100%;
    visibility: hidden;
}
.layer1, .layer2, .layer3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.layer1 {
    background-image: url(../img/room6.jpg);
}
.layer2 {
    background-image: url(../img/room2.jpg);
    animation: layer2Anim 7s infinite;
}
.layer3 {
    background-image: url(../img/resturant1.jpg);
    animation: layer3Anim 7s infinite;
}
.slideOverlay {
    background-image: url(../mg/toilet2.jpg);
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.slideOverlay p {
    position: relative;
    font-size: 6vw;
    color: #fff;
    text-shadow: 3px 3px 6px #000;
    text-align: center;
    top: 30%;
}







