html {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: none;
}

body {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

div {
    display: block;
}

nav {
    width: 100%;
    background-color: #251603;
    opacity: 0.5;
    margin-top: 100px;
}

nav ul li {
    display: inline-block;
}

nav a {
    color: #F8ECC2;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

nav a:hover {
    background: #153800;
}

.menu-trigger {
    display: none;
    color: #F8ECC2;
}


#bg {
    width: 100%;
    height: 100%;

}

#footer {
    position: relative;
    left: 0;
    bottom: 0;
    
    background: #251603;
    color: #EBEBED;
    width: 100%;
}

.image {
    position: relative;
    display: table-row;


}

#room1 {
    height: 33%;
    width: 33%;
}

#room2 {
    height: 33%;
    width: 33%;
}

#rest1 {
    height: 33%;
    width: 33%;
}

@media screen and (max-width:900px) {
    .menu-trigger {
        display: block;
    }
    nav ul li {
        display: block;
    }
    nav ul {
        display: none;
    }
    #room1 {
        height: 100%;
        width: 100%;
    }

    #room2 {
        height: 100%;
        width: 100%;
    }

    #rest1 {
        height: 100%;
        width: 100%;
    }
}
